In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
%matplotlib inline

In [4]:
data = pd.read_excel("Final.xlsx")

In [6]:
data.head()

     SNAVER  Elsevier  Springer
0  1.000000  1.000000  1.000000
1  1.000000  1.000000  0.778287
2  0.880094  0.880094  0.593730
3  0.839356  0.829375  0.660223
4  0.813436  0.797104  0.683021